<div class="darkpage" [ngStyle]="{'display': activity? 'block' : 'none'}" (click)="close()"></div>
<app-navbar></app-navbar>
<div class="header">
    <div>
        <div class="title">
            <h2>
                <span class="assignments">Assignments</span>
                <span> / Pinco Pallino as Analista on Enel</span>
            </h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="list1">
        <ul>
            <li>Project</li>
            <li>Role</li>
            <li>User</li>
        </ul>
    </div>
    <div class="hr"></div>
    <div class="list2">
        <ul>
            <li>
                <a href="">Enel</a>
            </li>
            <li>
                <a href="">Analista</a>
            </li>
            <li>
                <a routerLink="/user">Pinco Pallino</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="flexbox">
        <div class="actions">
            <ul>
                <li>
                    <a routerLink="message">
                        <p>Invia messaggio</p>
                    </a>
                </li>
                <li>
                    <a routerLink="note">
                        <p>Inserisci nota</p>
                    </a>
                </li>
                <li>
                    <a routerLink="activity" (click)="open()">
                        <p>Pianifica attività</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="segui">
            <p>0</p>
            <p>Segui</p>
            <p>2</p>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="line">
        <span class="text">1 Agosto 2023</span>
    </div>
    <div class="box2">
            <div class="image2"></div>
            <p>
                <span class="name">Tizio Caio </span>
                <span class="date">- 2 giorni fa</span>
            </p>
        <ul>
            <li>User: Pinco Pallino</li>
            <li>Role: Analista</li>
            <li>Project: Enel</li>
        </ul>
    </div>
    <div class="box3">
        <div class="flex">
            <div class="image2"></div>
            <p>
                <span class="name">Tizio Caio </span>
                <span class="date">- 2 giorni fa</span>
            </p>
        </div>
        <p class="start">Project Assignments creato</p>
    </div>
</div>
