.darkpage{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.header{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 51px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.title{
    padding-top: 0.5px;
    margin-left: 20px;
    font-size: 15.5px;
}

.assignments{
    color: rgb(188, 188, 188);
}

.section{
    width: 100%;
    /* height: 130px; */
    background-color: white;
    /* margin-top: 51px; */
    border-bottom: 1px solid black;
    display: flex;
}

.section .list1{
    margin-bottom: 17px;
    font-weight: 600;
    margin-left: -25px;
    cursor: default;
}

.section .hr{
    margin-left: 140px;
    margin-top: 19px;
    border-left: solid 1px rgb(188, 188, 188);
    width: 1px;
    height: 110px;
}

.section .list2{
    margin-left: -22px;
}

.section .list2 ul li a{
    text-decoration: none;
    color: #213F6A;
}

.section ul li{
    list-style-type: none;
    padding-top: 12px;
    margin-bottom: 5px;
    font-size: 13px;
}

.body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    width: 1310px;
}

.actions ul{
    display: flex;
    margin-left: 165px;
    margin-top: -6px;
    margin-bottom: 18px;
}

.actions ul li{
    margin-left: 25px;
    list-style-type: none;
    z-index: 1;
}

.actions ul li a{
    text-decoration: none;
    color: #213F6A;
    font-size: 13px;
    padding-left: 12px;
    cursor: pointer;
}

.segui{
    display: flex;
    margin-top: 11px;
}

.segui p{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

.line{
    display: flex;
    align-items: center;
    width: 1100px;
    margin-left: 220px;
    margin-top: 30px;
}

.line::before, .line::after{
    content: "";
    flex-grow: 1;
    border-bottom: 1px solid black;
}

.text{
    padding: 0 10px;
}

.box2{
    margin-left: 220px;
    margin-top: 30px;
    width: 1100px;
    height: fit-content;
    min-height: 100px;
    background-color: rgb(238, 238, 238);
    border-bottom: solid 1px black;
}

.image2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}

.name{
    font-weight: 600;
}

.date{
    font-size: 13px;
    color: rgb(168, 168, 168);
}

.box2 p{
    margin-left: 90px;
    padding-top: 10px;
    font-size: 14px;
}

.box2 ul{
    margin-left: 100px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.box2 ul li{
    margin-bottom: 5px;
    font-size: 14px;
}

.box3{
    margin-left: 220px;
    width: 1100px;
    height: fit-content;
    /* min-height: 100px; */
    background-color: rgb(238, 238, 238);
    border-bottom: solid 1px black;
    padding-bottom: 15px;
}

.box3 p{
    margin-left: 90px;
    padding-top: 10px;
    font-size: 14px;
}

.box3 .start{
    margin-left: 93px;
    padding-top: 0px;
    margin-top: -3px;
    font-size: 14px;
}
