<app-navbar></app-navbar>
<div class="header">
    <div>
        <div class="title">
            <h2>Project Assignments</h2>
        </div>
    </div>
    <div class="search">
        <input type="text" placeholder="Ricerca..."><br>
        <div class="filters">
            <div>
                <button class="btn" [matMenuTriggerFor]="menu">Filtri</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>My assignments</button>
                    <button mat-menu-item>Aggiungi filtro personalizzato</button>
                </mat-menu>
                <button class="btn" [matMenuTriggerFor]="menuTwo">Raggruppa per</button>
                <mat-menu #menuTwo="matMenu">
                    <button mat-menu-item>Project</button>
                    <button mat-menu-item>Role</button>
                    <button mat-menu-item>User</button>
                    <button mat-menu-item>Aggiungi gruppo personalizzato</button>
                </mat-menu>
                <button class="btn" [matMenuTriggerFor]="menuThree">Preferiti</button>
                <mat-menu #menuThree="matMenu">
                    <button mat-menu-item>Salva la ricerca corrente</button>
                    <button mat-menu-item>Aggiungi alla mia bacheca</button>
                </mat-menu>
            </div>
            <!-- <button>
                <img src="" alt="">
            </button> -->
        </div>
    </div>
</div>
<div class="body">
    <div class="bar">
        <div class="project">
            <div class="container">
                <input type="checkbox" name="" id="">
                <div class="hr"></div>
                <p>Project</p>
            </div>
        </div>
        <div class="hr1"></div>
        <div class="type">
            <span>Role</span>
        </div>
        <div class="hr1"></div>
        <div class="type">
            <span>User</span>
        </div>
    </div>
    <div>
        <details>
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a routerLink="/progetto">Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a>Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a>Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a>Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>
    </div>
</div>
