<div class="header">
    <div>
        <div class="titolo">
            <h2>Project Assignments</h2>
        </div>
    </div>
    <div class="cerca">
        <input type="text" placeholder="Ricerca..."><br>
        <div class="filtri">
            <div>
                <button class="btn2">Filtri</button>
                <button class="btn2">Raggruppa per</button>
                <button class="btn2">Preferiti</button> 
            </div>
            <!-- <button>
                <img src="" alt="">
            </button> -->
        </div>
    </div>
</div>
<div class="body">
    <div class="bar">
        <div class="project">
            <div class="div">
                <input type="checkbox" name="" id="">
                <div class="hr"></div>
                <p>Project</p>
            </div>
        </div>
        <div class="hr1"></div>
        <div class="role">
            <span>Role</span>
        </div>
        <div class="hr1"></div>
        <div class="role">
            <span>User</span>
        </div>
    </div>
    <div>
        <details>
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="dettaglio">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>Enel</p>
                </div>
                <div class="analista">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="dettaglio">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>Enel</p>
                </div>
                <div class="analista">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="dettaglio">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>Enel</p>
                </div>
                <div class="analista">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="dettaglio">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>Enel</p>
                </div>
                <div class="analista">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>
    </div>
</div>
