<div class="header">
    <div>
        <div class="title">
            <h2>Project Assignments</h2>
        </div>
    </div>
    <div class="search">
        <input type="text" placeholder="Ricerca..."><br>
        <div class="filters">
            <div>
                <button class="btn">Filtri</button>
                <button class="btn">Raggruppa per</button>
                <button class="btn">Preferiti</button> 
            </div>
            <!-- <button>
                <img src="" alt="">
            </button> -->
        </div>
    </div>
</div>
<div class="body">
    <div class="bar">
        <div class="project">
            <div class="container">
                <input type="checkbox" name="" id="">
                <div class="hr"></div>
                <p>Project</p>
            </div>
        </div>
        <div class="hr1"></div>
        <div class="type">
            <span>Role</span>
        </div>
        <div class="hr1"></div>
        <div class="type">
            <span>User</span>
        </div>
    </div>
    <div>
        <details>
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a>Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a>Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a>Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>

        <details class="details">
            <summary>
                <div>
                    >
                    <!-- < -->
                </div>
                <span>Enel</span>
            </summary>
            <div class="detail">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <p>
                        <a>Enel</a>
                    </p>
                </div>
                <div class="role">
                    <p>Analista</p>
                </div>
                <div>
                    <p>Pinco Pallino</p>
                </div>  
            </div>
        </details>
    </div>
</div>
