<div class="container">
    <div class="navbar">
        <div class="title">
            <a routerLink="">
                <span>PROGETTO</span>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a routerLink="progetti">Progetti</a>
                </li>
                <li>
                    <a routerLink="">I miei progetti</a>
                </li>
                <li>
                    <a routerLink="/assignments">Assignments</a>
                </li>
                <li>
                    <a routerLink="/mieattivita">Le mie attività</a>
                </li>
            </ul>  
        </nav>
        <!-- <div>
            <div class="uno"></div>
        </div> -->
    </div>
</div>
