<div class="contenitore">
    <div class="navbar">
        <div class="titolo">
            <span>PROGETTO</span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Progetti</a>
                </li>
                <li>
                    <a href="#">I miei progetti</a>
                </li>
                <li>
                    <a href="#">Tutte le attività</a>
                </li>
                <li>
                    <a href="#">Assignments</a>
                </li>
                <li>
                    <a href="#">Le mie attività</a>
                </li>
                <li>
                    <a href="#">Rendicontazione</a>
                </li>
                <li>
                    <a href="#">Configurazione</a>
                </li>
            </ul>  
        </nav>
        <!-- <div>
            <div class="uno"></div>
        </div> -->
    </div>
</div>
