<div class="header">
    <div>
        <div class="titolo">
            <h2>I miei progetti</h2>
        </div>
    </div>
    <div class="cerca">
        <input type="text" placeholder="Ricerca..."><br>
        <div class="filtri">
            <div>
                <button class="btn2">Filtri</button>
                <button class="btn2">Raggruppa per</button>
                <button class="btn2">Preferiti</button> 
            </div>
            <!-- <button>
                <img src="" alt="">
            </button> -->
        </div>
    </div>
</div>
<div class="body">
    <div class="flexbox">
        <div class="box">
            <p>Progetti interni</p>
        </div>
        <div class="box">
            <p>Interna</p>
        </div>
        <div class="box">
            <p>Spagna</p>
        </div>
    </div>
</div>
