<app-navbar></app-navbar>
<div class="header">
    <div>
        <div class="title">
            <h2>I miei progetti</h2>
        </div>
    </div>
    <div class="search">
        <input type="text" placeholder="Ricerca..."><br>
        <div class="filters">
            <div>
                <button class="btn2" [matMenuTriggerFor]="menu">Filtri</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>I miei preferiti</button>
                    <button mat-menu-item>In cui sono follower</button>
                    <button mat-menu-item>Templates</button>
                    <button mat-menu-item>Non-templates</button>
                    <button mat-menu-item>Milestone Projects</button>
                    <button mat-menu-item>Archiviata</button>
                    <button mat-menu-item>Not Closed</button>
                    <button mat-menu-item>Closed</button>
                </mat-menu>
                <button class="btn2" [matMenuTriggerFor]="menuTwo">Raggruppa per</button>
                <mat-menu #menuTwo="matMenu">
                    <button mat-menu-item>Supervisore progetto</button>
                    <button mat-menu-item>Client</button>
                    <button mat-menu-item>Status</button>
                    <button mat-menu-item>Type</button>
                </mat-menu>
                <button class="btn2" [matMenuTriggerFor]="menuThree">Preferiti</button>
                <mat-menu #menuThree="matMenu">
                    <button mat-menu-item>Salva la ricerca corrente</button>
                    <button mat-menu-item>Aggiungi alla mia bacheca</button>
                </mat-menu>
            </div>
            <!-- <button>
                <img src="" alt="">
            </button> -->
        </div>
    </div>
</div>
<div class="body">
    <div class="flexbox">
        <div class="box">
            <p>Progetti interni</p>
        </div>
        <div class="box">
            <p>Interna</p>
        </div>
        <div class="box">
            <p>Spagna</p>
        </div>
    </div>
</div>
