<div class="header">
    <div>
        <div class="titolo">
            <h2>
                <span class="assignments">Assignments</span> 
                <span> / Pinco Pallino as Analista on Enel</span>
            </h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="lista1">
        <ul>
            <li>Project</li>
            <li>Role</li>
            <li>User</li>
        </ul>
    </div>
    <div class="hr"></div>
    <div class="lista2">
        <ul>
            <li>
                <a href="">Enel</a>
            </li>
            <li>
                <a href="">Analista</a>
            </li>
            <li>
                <a href="">Pinco Pallino</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="flexbox">
        <div class="azioni">
            <ul>
                <li>
                    <a href="">Invia messaggio</a>
                </li>
                <li>
                    <a href="">Inserisci nota</a>
                </li>
                <li>
                    <a href="">Pianifica attività</a>
                </li>
            </ul>
        </div>
        <div class="segui">
            <p>0</p>
            <p>Segui</p>
            <p>2</p>
        </div>
    </div>
    <div class="riquadro">
        <!-- <input type="text"> -->
        <textarea name="" id="" cols="30" rows="10" placeholder="Scrivere qualcosa..."></textarea>
    </div>
</div>
