<div class="header">
    <div>
        <div class="title">
            <h2>
                <span class="assignments">Assignments</span> 
                <span> / Pinco Pallino as Analista on Enel</span>
            </h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="list1">
        <ul>
            <li>Project</li>
            <li>Role</li>
            <li>User</li>
        </ul>
    </div>
    <div class="hr"></div>
    <div class="list2">
        <ul>
            <li>
                <a href="">Enel</a>
            </li>
            <li>
                <a href="">Analista</a>
            </li>
            <li>
                <a href="">Pinco Pallino</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="flexbox">
        <div class="actions">
            <ul>
                <li>
                    <a href="">
                        <div class="one">
                            <p>Invia messaggio</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="two">
                            <p>Inserisci nota</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="three">
                            <p>Pianifica attività</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="segui">
            <p>0</p>
            <p>Segui</p>
            <p>2</p>
        </div>
    </div>
    <div class="box">
        <p>
            <span class="a">A: </span> 
            <span class="follower">Follower di: </span>
            <span>"Pinco Pallino as Analista on Enel"</span>
        </p>
        <div class="image"></div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Scrivere qualcosa..."></textarea>
    </div>
    <div class="line">
        <span class="text">1 Agosto 2023</span>
    </div>
    <div class="box2">
            <div class="image2"></div>
            <p>
                <span class="name">Tizio Caio </span>
                <span class="date">- 2 giorni fa</span>
            </p>
        <ul>
            <li>User: Pinco Pallino</li>
            <li>Role: Analista</li>
            <li>Project: Enel</li>
        </ul>
    </div>
    <div class="box3">
        <div class="flex">
            <div class="image2"></div>
            <p>
                <span class="name">Tizio Caio </span>
                <span class="date">- 2 giorni fa</span>
            </p>
        </div>
        <p class="start">Project Assignments creato</p>
    </div>
</div>
