<app-admin-navbar></app-admin-navbar>
<div class="header">
    <div class="title">
        <h2>
            <span class="projects">Progetti</span> 
            <span class="projects"> / Attività</span>
            <span> / Enel</span>
        </h2>
    </div>
    <div class="buttons">
        <button class="btn">Azione ></button>
    </div>
</div>
<div class="btns">
    <button class="btn">Assegna a me</button>
    <button class="share">Condividi</button>
</div>
<div class="body">
    <section class="part1">
        <div class="card">
                <div class="title">
                    <p>
                        <mat-icon>star_border</mat-icon>&nbsp;
                        <mat-icon>star_border</mat-icon>&nbsp;
                        <mat-icon>star_border</mat-icon>
                    </p>
                    <h3>Enel</h3>
                </div>
            <div class="flex">
                <div class="block">
                    <div class="list1">
                        <ul>
                            <li>Progetto</li>
                            <li>Employee Categories</li>
                            <li>Assegnata a</li>
                            <li>Exclude from Sale</li>
                            <li>Order</li>
                        </ul>
                    </div>
                    <div class="hr"></div>
                </div>

                <div class="block">
                    <div class="list1">
                        <ul>
                            <li>Scadenza</li>
                            <li>Etichette</li>
                            <li>Type</li>
                        </ul>
                    </div>
                    <div class="hr1"></div>
                </div>

            </div>
        </div>
    </section>
    <section class="part2">
        <div class="flexbox">
            <div class="actions">
                <ul>
                    <li>
                        <a>
                            <p>Invia messaggio</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <p>Inserisci nota</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <p>Pianifica attività</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="segui">
                <p>0</p>
                <p>Segui</p>
                <p>2</p>
            </div>
        </div>
        <div class="line">
            <span class="text">1 Agosto 2023</span>
        </div>
        <div class="box2">
                <div class="image2"></div>
                <p>
                    <span class="name">Tizio Caio </span>
                    <span class="date">- 2 giorni fa</span>
                </p>
                <div class="subtitle">
                    <p>Attività creata</p>
                </div>
            <ul>
                <li>Supervisore progetto: Pinco Pallino</li>
                <li>Progetto: Enel</li>
                <li>Etichetta di stato kanban: In corso</li>
                <li>Fase: Analisi</li>
                <li>Titolo: Enel</li>
            </ul>
        </div>
    </section>
</div>
