<app-navbar></app-navbar>
<div class="header">
    <div class="title">
        <h2>
            <span class="activities">Le mie attività</span> 
            <span> / Importa un file</span>
        </h2>
    </div>
    <div class="buttons">
        <!-- <button class="btn1" (click)="fileUpload.click()">Carica file</button> -->
        <!-- <input type="file" class="fileInput" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" #fileUpload> -->
        <button class="btn2" routerLink="/mieattivita">Annulla</button>
    </div>
</div>
<div class="body">
    <div class="text">
        <h3>Seleziona un file CSV o Excel da importare</h3>
        <p>Sono consigliati file Excel, la formattazione dei campi è automatica</p>
        <p>Bisogno di aiuto ?</p>
        <p>
            <a href="https://www.odoo.com/documentation/12.0/applications/general/base_import/import_faq.html" target="_blank" rel="noopener noreferrer">Importare FAQ</a>
        </p>
    </div>
</div>
