<div class="header">
    <div class="titolo">
        <h2>
            <span class="attivita">Le mie attività</span> 
            <span> / Importa un file</span>
        </h2>
    </div>
    <div class="pulsanti">
        <button class="btn1">Carica file</button>
        <button class="btn2">Annulla</button>
    </div>
</div>
<div class="body">
    <div class="testo">
        <h3>Seleziona un file CSV o Excel da importare</h3>
        <p>Sono consigliati file Excel, la formattazione dei campi è automatica</p>
        <p>Bisogno di aiuto ?</p>
        <p>Importare FAQ</p>
    </div>
</div>
