
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- <app-mie-attivita-importa></app-mie-attivita-importa> -->
<!-- <app-mie-attivita></app-mie-attivita> -->
<!-- <app-miei-progetti></app-miei-progetti> -->
<!-- <app-assignments></app-assignments> -->
<!-- <app-assignments-progetto></app-assignments-progetto> -->
<!-- <app-assign-prog-user></app-assign-prog-user> -->

<!--<app-admin-projects></app-admin-projects>-->
<!-- <app-admin-project-create></app-admin-project-create> -->
<!-- <app-admin-proj-activities></app-admin-proj-activities> -->
<!-- <app-admin-proj-activity-details></app-admin-proj-activity-details> -->
