<div class="header">

        <div class="col-1">
            <div class="title">
                <h2>Le mie attività</h2>
            </div>
            <div class="import">
                <button class="btn" routerLink="/importa">Importa</button>
            </div>
        </div>

        <div class="col-2">
            <div class="search">
                <input type="text" placeholder="Ricerca..."><br>
            </div>
            <div class="buttons">
                <div class="filters">
                    <div>
                        <button class="btn2">Filtri</button>
                        <button class="btn2">Raggruppa per</button>
                        <button class="btn2">Preferiti</button> 
                    </div>
                </div>
                <div class="filters">
                    <button routerLink="/mieattivita">Uno
                        <!-- <img src="" alt=""> -->
                    </button>
                    <button>Due
                        <!-- <img src="" alt=""> -->
                    </button>
                </div>
            </div>
        </div>
</div>
<div class="body">
    <div class="btn1">
        <a href="">
            <div class="add">
                <span>+</span>
            </div>
            <span class="column">aggiungi colonna</span>
        </a>
    </div>
</div>

