<div class="header">
    <div class="title">
        <h2>
            <span class="assignments">Assignments</span> 
            <span> / Pinco Pallino as Analista on Enel</span>
        </h2>
    </div>
    <div class="buttons">
        <button class="btn">Stampa ></button>
        <button class="btn">Azione ></button>
    </div>
</div>
<div class="body">
    <section>
        <div class="card">

            <div class="flex">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="title">
                    <h3>Pinco Pallino</h3>
                    <p>pinco.pallino@iet.it</p>
                </div>
            </div>
            <div class="contacts">
                <div class="list1">
                    <ul>
                        <li>Telefono</li>
                        <li>Cellulare</li>
                    </ul>
                </div>
                <div class="hr"></div>
            </div>
        </div>
    </section>
</div>
